.DS_Store
/target
*/target
.env
.idea/
.vscode/
result
publish.sh
.envrc
.planning/
.antigravitycli/

ui/backend/target
ui/backend/gen

sqlite-server.db*

.atuin/permissions.*.toml

__pycache__/
*.py[codz]
*$py.class
test-behavior.sh
