networkException <git@nwex.de> <github@nwex.de>
Violet Shreve <github@shreve.io> <jacob@shreve.io>
Chris Rose <offline@offby1.net> <offbyone@github.com>
Conrad Ludgate <conradludgate@gmail.com> <conrad.ludgate@truelayer.com>
Cristian Le <github@lecris.me> <cristian.le@mpsd.mpg.de>
Dennis Trautwein <git@dtrautwein.eu> <dennis.trautwein@posteo.de>
Ellie Huxtable <ellie@atuin.sh> <e@elm.sh> 
Ellie Huxtable <ellie@atuin.sh> <ellie@elliehuxtable.com> 
Frank Hamand <frankhamand@gmail.com> <frank.hamand@coinbase.com>
Jakob Schrettenbrunner <dev@schrej.net> <jakob.schrettenbrunner@telekom.de>
Nemo157 <git@nemo157.com> <github@nemo157.com>
Richard de Boer <git@tubul.net> <github@tubul.net>
Sandro <sandro.jaeckel@gmail.com> <sandro.jaeckel@sap.com>
TymanWasTaken <tbeckman530@gmail.com> <ty@blahaj.land>
