networkException <git@nwex.de> <github@nwex.de>
Violet Shreve <github@shreve.io> <jacob@shreve.io>
<offbyone@github.com> <offline@offby1.net>
<conradludgate@gmail.com> <conrad.ludgate@truelayer.com>
<drmorr@appliedcomputing.io> <drmorr@evokewonder.com>
<dennis.trautwein@posteo.de> <git@dtrautwein.eu>
Ellie Huxtable <ellie@elliehuxtable.com> Ellie <ellie@elliehuxtable.com>
<ellie@elliehuxtable.com> <e@elm.sh>
<frank.hamand@coinbase.com> <frankhamand@gmail.com>
<iansmith@honeycomb.io> <ismith@mit.edu>
<dev@schrej.net> <jakob.schrettenbrunner@telekom.de>
<jannik.peters@posteo.de> <32144358+mozzieongit@users.noreply.github.com>
<git@nemo157.com> <github@nemo157.com>
<phil@base-art.net> <philn@igalia.com>
<sandro.jaeckel@gmail.com> <sandro.jaeckel@sap.com>
<cammann.tom@gmail.com> <tom.cammann@oracle.com>
<tbeckman530@gmail.com> <ty@blahaj.land>
<ewqjean@gmail.com> <jeanpnsantos@gmail.com>
