[workspace]
members = [
  "atuin",
  "atuin-client",
  "atuin-server",
  "atuin-server-postgres",
  "atuin-server-database",
  "atuin-common", 
  "atuin-dotfiles",

  # The Tauri backend crate. Not published.
  "ui/backend"
]

resolver = "2"

[workspace.package]
version = "18.1.0"
authors = ["Ellie Huxtable <ellie@elliehuxtable.com>"]
rust-version = "1.67"
license = "MIT"
homepage = "https://atuin.sh"
repository = "https://github.com/atuinsh/atuin"
readme = "README.md"

[workspace.dependencies]
async-trait = "0.1.58"
base64 = "0.21"
log = "0.4"
time = { version = "0.3", features = [
  "serde-human-readable",
  "macros",
  "local-offset",
] }
clap = { version = "4.5.1", features = ["derive"] }
config = { version = "0.13", default-features = false, features = ["toml"] }
directories = "5.0.1"
eyre = "0.6"
fs-err = "2.9"
interim = { version = "0.1.0", features = ["time"] }
itertools = "0.12.0"
rand = { version = "0.8.5", features = ["std"] }
semver = "1.0.20"
serde = { version = "1.0.193", features = ["derive"] }
serde_json = "1.0.108"
tokio = { version = "1", features = ["full"] }
uuid = { version = "1.3", features = ["v4", "v7", "serde"] }
whoami = "1.5.1"
typed-builder = "0.18.0"
pretty_assertions = "1.3.0"
thiserror = "1.0"
rustix = {version = "0.38.30", features=["process", "fs"]}

[workspace.dependencies.reqwest]
version = "0.11"
features = ["json", "rustls-tls-native-roots"]
default-features = false

[workspace.dependencies.sqlx]
version = "0.7.3"
features = ["runtime-tokio-rustls", "time", "postgres", "uuid"]
