[package]
name = "atuin"
version = "12.0.0"
authors = ["Ellie Huxtable <ellie@elliehuxtable.com>"]
edition = "2021"
rust-version = "1.59"
license = "MIT"
description = "atuin - magical shell history"
homepage = "https://atuin.sh"
repository = "https://github.com/ellie/atuin"
readme = "README.md"

[package.metadata.binstall]
pkg-url = "{ repo }/releases/download/v{ version }/{ name }-v{ version  }-{ target }.tar.gz"
bin-dir = "{ name }-v{ version }-{ target }/{ bin }{ binary-ext }"
pkg-fmt = "tgz"

[package.metadata.deb]
maintainer = "Ellie Huxtable <ellie@elliehuxtable.com>"
copyright = "2021, Ellie Huxtable <ellie@elliehuxtable.com>"
license-file = ["LICENSE"]
depends = "$auto"
section = "utility"

[package.metadata.rpm]
package = "atuin"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
atuin = { path = "/usr/bin/atuin" }

[workspace]
members = ["./atuin-client", "./atuin-server", "./atuin-common"]

[features]
# TODO(conradludgate)
# Currently, this keeps the same default built behaviour for v0.8
# We should rethink this by the time we hit a new breaking change
default = ["client", "sync", "server"]
client = ["atuin-client"]
sync = ["atuin-client/sync"]
server = ["atuin-server", "tracing-subscriber"]

[dependencies]
atuin-server = { path = "atuin-server", version = "12.0.0", optional = true }
atuin-client = { path = "atuin-client", version = "12.0.0", optional = true, default-features = false }
atuin-common = { path = "atuin-common", version = "12.0.0" }

log = "0.4"
env_logger = "0.10.0"
chrono = { version = "0.4", features = ["serde"] }
eyre = "0.6"
directories = "4"
indicatif = "0.17.1"
serde = { version = "1.0.145", features = ["derive"] }
serde_json = "1.0.91"
tui = { version = "0.19", default-features = false, features = ["termion"] }
termion = "1.5"
unicode-width = "0.1"
itertools = "0.10.5"
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.58"
interim = { version = "0.1.0", features = ["chrono"] }
cli-table = { version = "0.4", default-features = false }
base64 = "0.20.0"
crossbeam-channel = "0.5.1"
clap = { version = "4.0.18", features = ["derive"] }
clap_complete = "4.0.3"
fs-err = "2.7"
whoami = "1.1.2"
rpassword = "7.0"
semver = "1.0.14"

[dependencies.tracing-subscriber]
version = "0.3"
default-features = false
features = ["ansi", "fmt", "registry", "env-filter"]
optional = true
