[package]
name = "atuin"
version = "0.4.0"
authors = ["Ellie Huxtable <e@elm.sh>"]
edition = "2018"
license = "MIT"
description = "atuin - magical shell history"

[dependencies]
log = "0.4"
fern = "0.6.0"
chrono = { version = "0.4", features = ["serde"] }
eyre = "0.6"
shellexpand = "2"
structopt = "0.3"
directories = "3"
uuid = { version = "0.8", features = ["v4"] }
indicatif = "0.15.0"
whoami = "1.1.2"
rocket = "0.4.7"
chrono-english = "0.1.4"
cli-table = "0.4"
config = "0.11"
serde_derive = "1.0.125"
serde = "1.0.125"
serde_json = "1.0.64"
rmp-serde = "0.15.4"
tui = "0.14"
termion = "1.5"
unicode-width = "0.1"
itertools = "0.10.0"
diesel = { version = "1.4.4", features = ["postgres", "chrono"] }
diesel_migrations = "1.4.0"
dotenv = "0.15.0"
sodiumoxide = "0.2.6"
reqwest = { version = "0.11", features = ["blocking", "json"] }
base64 = "0.13.0"
fork = "0.1.18"
parse_duration = "2.1.1"
rand = "0.8.3"
rust-crypto = "^0.2"

[dependencies.rusqlite]
version = "0.25"
features = ["bundled"]

[dependencies.rocket_contrib]
version = "0.4.7"
default-features = false
features = ["diesel_postgres_pool", "json"]
