[package]
name = "atuin"
version = "0.7.1"
authors = ["Ellie Huxtable <ellie@elliehuxtable.com>"]
edition = "2018"
license = "MIT"
description = "atuin - magical shell history"
homepage = "https://atuin.sh"
repository = "https://github.com/ellie/atuin"
readme = "README.md"

[package.metadata.deb]
maintainer = "Ellie Huxtable <ellie@elliehuxtable.com>"
copyright = "2021, Ellie Huxtable <ellie@elliehuxtable.com>"
license-file = ["LICENSE"]
depends = "$auto"
section = "utility"

[package.metadata.rpm]
package = "atuin"

[package.metadata.rpm.cargo]
buildflags = ["--release"]

[package.metadata.rpm.targets]
atuin = { path = "/usr/bin/atuin" }

[workspace]
members = ["./atuin-client", "./atuin-server", "./atuin-common"]

[dependencies]
atuin-server = { path = "atuin-server", version = "0.7.1" }
atuin-client = { path = "atuin-client", version = "0.7.1" }
atuin-common = { path = "atuin-common", version = "0.7.1" }

log = "0.4"
pretty_env_logger = "0.4"
chrono = { version = "0.4", features = ["serde"] }
eyre = "0.6"
structopt = "0.3"
directories = "3"
indicatif = "0.16.2"
serde_derive = "1.0.125"
serde = "1.0.126"
serde_json = "1.0.64"
tui = "0.15"
termion = "1.5"
unicode-width = "0.1"
itertools = "0.10.1"
fork = "0.1.18"
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.49"
chrono-english = "0.1.4"
cli-table = "0.4"
base64 = "0.13.0"
humantime = "2.1.0"
tabwriter = "1.2.1"
crossbeam-channel = "0.5.1"

[profile.release]
lto = "fat"
codegen-units = 1
opt-level = 3
