[package]
name = "atuin"
version = "0.6.0"
authors = ["Ellie Huxtable <ellie@elliehuxtable.com>"]
edition = "2018"
license = "MIT"
description = "atuin - magical shell history"

[workspace]
members = ["./atuin-client", "./atuin-server", "./atuin-common"]

[dependencies]
atuin-server = { path = "atuin-server", version = "0.6.0" }
atuin-client = { path = "atuin-client", version = "0.6.0" }
atuin-common = { path = "atuin-common", version = "0.6.0" }

log = "0.4"
fern = {version = "0.6.0", features = ["colored"] }
chrono = { version = "0.4", features = ["serde"] }
eyre = "0.6"
structopt = "0.3"
directories = "3"
indicatif = "0.15.0"
serde_derive = "1.0.125"
serde = "1.0.125"
serde_json = "1.0.64"
tui = "0.14"
termion = "1.5"
unicode-width = "0.1"
itertools = "0.10.0"
fork = "0.1.18"
tokio = { version = "1", features = ["full"] }
async-trait = "0.1.49"
chrono-english = "0.1.4"
cli-table = "0.4"
reqwest = { version = "0.11", features = ["blocking", "json"] }
base64 = "0.13.0"
humantime = "2.1.0"

[dependencies.rusqlite]
version = "0.25"
features = ["bundled"]
