.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.whatisfeature {
  background-color: var(--ifm-hero-background-color);
  padding: 2rem;
}


@media screen and (max-width: 996px) {
  .whatisfeatureblock {
    margin-top: 2rem;
  }

  .features {
    padding: 0;
  }
}
