name: Install

on:
  push:
    branches: [main]
  pull_request:
    paths: .github/workflows/installer.yml

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  install:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          persist-credentials: false

      - name: Install zsh for ubuntu
        if: matrix.os == 'ubuntu-latest' 
        run: | 
          sudo apt install zsh

      - name: Test install script on bash
        run: | 
          /bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
          [ -d "$HOME/.atuin" ] && source $HOME/.atuin/bin/env
          atuin --help

      - name: Test install script on zsh
        shell: zsh {0}
        run: | 
          /bin/bash -c "$(curl --proto '=https' --tlsv1.2 -sSf https://setup.atuin.sh)"
          [ -d "$HOME/.atuin" ] && source $HOME/.atuin/bin/env
          atuin --help
